.gameboy .display {
  position: absolute;
  width: calc(0.55 * 90vmin * 0.7);
  height: calc(0.55 * 90vmin * 0.7);
  transform: translate(-50%);
  top: 8%;
  left: 50%;
  background-color: #846662;
  border: 1vmin solid #522337;
  border-radius: 2vmin 2vmin 5vmin 2vmin;
  box-shadow: 1vmin 0 0 rgba(0, 0, 0, 0.3);
}

.gameboy .display .glass {
  position: absolute;
  width: calc(0.55 * 90vmin * 0.7 * 0.7);
  height: calc(0.55 * 90vmin * 0.7 * 0.7);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #C4E58D;
  outline: 1vmin solid #522337;
}

.gameboy .display .glass .film {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 1vmin 0 0 rgba(0, 0, 0, 0.3);
}

.gameboy .display .glass .film::before, .gameboy .display .glass .film::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.55);
  width: 100%;
  height: 100%;
}

.gameboy .display .glass .film::before {
  clip-path: polygon(60% 0, 80% 0, 1vmin 44%, 1vmin 30%);
}

.gameboy .display .glass .film::after {
  clip-path: polygon(100% 54%, 100% 71%, 26% 100%, 1vmin 100%);
}

/* BEGIN - DETAILS */
/* left bar */
.gameboy .display .detail-1 {
  position: absolute;
  top: 4%;
  left: 8%;
  width: calc(0.55 * 90vmin * 0.7 * 0.4);
  height: 0.55vmin;
  background-color: #522337;
  border-radius: 20px;
}

/* right bar */
.gameboy .display .detail-2 {
  position: absolute;
  top: 4%;
  right: 10%;
  width: calc(0.55 * 90vmin * 0.7 * 0.1);
  height: 0.55vmin;
  background-color: #522337;
  border-radius: 20px;
}

/* dot */
.gameboy .display .detail-3 {
  position: absolute;
  top: 50%;
  left: 2%;
  width: 2vmin;
  height: 2vmin;
  background-color: #b33322;
  border: 0.55vmin solid #522337;
  border-radius: 100%;
}
/* END - DETAILS */
